<div class="desktop-header">
  <section id="header">
    <div id="header_content">
      <p class="headline">Kanban Project Management Tool</p>
      <div id="header_left" *ngIf="isLoggedIn">
        <a routerLink="/info">
          <img id="info" src="/join/img/help.svg" alt="Info" />
        </a>

        <div class="user-icon" *ngIf="isLoggedIn">
          <div class="avatar-circle" (click)="toggleMenu()">
            {{ getInitials() }}
          </div>

          <div class="hamburger-menu" *ngIf="isMenuOpen" (mouseleave)="closeMenu()">
            <a routerLink="/legal-notice" (click)="closeMenu()">Legal Notice</a>
            <a routerLink="/privacy-policy" (click)="closeMenu()">Privacy Policy</a>
            <a (click)="logout()">Log out</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="mobile-header">
  <img class="mobile-logo" src="/img/mobile-logo.svg" alt="Join Logo" />
  <div class="user-icon">
    <div class="avatar-circle" (click)="toggleMenu()">{{ getInitials() }}</div>
  </div>

  <div class="hamburger-menu-mobile" *ngIf="isMenuOpen">
    <a routerLink="/info" (click)="closeMenu()">Help </a>
    <a routerLink="/legal-notice" (click)="closeMenu()">Legal Notice </a>
    <a routerLink="/privacy-policy" (click)="closeMenu()">Privacy Policy</a>
    <a (click)="logout()">Log out</a>
  </div>
</div>