<div class="main-container">
  <div class="logo-container">
    <img src="/join/img/logo-sign-up.svg" id="logo" alt="Logo" />
  </div>

  <div class="signup-container">
    <div class="headline">
      <img (click)="goBack()" src="/join/img/arrow-left.svg" alt="Arrow left" class="arrow-back" />
      <h1>Sign up</h1>
    </div>
    <div class="header-line"></div>

    <form (ngSubmit)="signup()" #signupForm="ngForm">
      <div class="input-container">
        <div class="input-field-wrapper">
          <div class="input-field">
            <input type="text" placeholder="Name" name="name" [(ngModel)]="name" required #nameInput="ngModel"
              [class.error]="nameInput.invalid && nameInput.touched" pattern="^[A-Za-zÄäÖöÜüß\s\-]+$" />
            <img src="/join/img/person.svg" alt="Person Icon" />
          </div>
          <div *ngIf="nameInput.errors?.['required'] && nameInput.touched">
            <span class="error-message">Name is required</span>
          </div>

          <div *ngIf="nameInput.errors?.['pattern'] && nameInput.touched">
            <span class="error-message">Name must only contain letters</span>
          </div>
        </div>

        <div class="input-field-wrapper">
          <div class="input-field">
            <input type="email" placeholder="Email" name="email" [(ngModel)]="email" required email
              #emailInput="ngModel" [class.error]="emailInput.invalid && emailInput.touched" />
            <img src="/join/img/mail.svg" alt="Mail Icon" />
          </div>
          <div *ngIf="emailInput.errors?.['required'] && emailInput.touched" class="password-error-message">
            <span class="error-message">Email is required </span>
          </div>
          <div *ngIf="emailInput.errors?.['email'] && emailInput.touched" class="password-error-message">
            <span class="error-message">Please enter a valid email address </span>
          </div>
        </div>

        <div class="input-field-wrapper">
          <div class="input-field">
            <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" name="password"
              [(ngModel)]="password" required minlength="6" #passwordInput="ngModel"
              [class.error]="passwordInput.invalid && passwordInput.touched" />
            <img [src]="showPassword ? '/join/img/visibility.svg' : '/join/img/lock.png'" alt="Toggle Password Visibility"
              (click)="togglePasswordVisibility('password')" />
          </div>
          <div *ngIf="passwordInput.errors?.['required'] && passwordInput.touched" class="password-error-message">
            <span class="error-message"> Password is required</span>
          </div>
          <div *ngIf="passwordInput.errors?.['minlength'] && passwordInput.touched" class="password-error-message">
            <span class="error-message ">Password must be at least 6 characters long</span>
          </div>
        </div>

        <div class="input-field-wrapper">
          <div class="input-field">
            <input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm Password"
              name="confirmPassword" [(ngModel)]="confirmPassword" required #confirmPasswordInput="ngModel"
              [class.error]="confirmPasswordInput.invalid && confirmPasswordInput.touched || passwordMismatch" />
            <img [src]="
                showConfirmPassword ? '/join/img/visibility.svg' : '/join/img/lock.png'
              " alt="Toggle Password Visibility" (click)="togglePasswordVisibility('confirmPassword')" />
          </div>
          <div *ngIf="confirmPasswordInput.errors?.['required'] && confirmPasswordInput.touched"
            class="password-error-message">
            <span class="error-message">Password is required</span>
          </div>
          <div *ngIf="passwordMismatch">
            <span class="error-message"> Your password's dont match. Please try again.</span>
          </div>
        </div>
      </div>

      <div class="checkbox-container">
        <input type="checkbox" id="privacy-policy" name="privacyPolicy" required [(ngModel)]="privacyPolicyAccepted" />
        <label for="privacy-policy">I accept the
          <a routerLink="/privacy-policy">Privacy Policy</a></label>
      </div>

      <div class="button-container">
        <button type="submit" class="signup-btn" [disabled]="!signupForm.form.valid || isLoading">
          {{ isLoading ? "Creating account..." : "Sign up" }}
        </button>
      </div>
    </form>
  </div>

  <footer>
    <a routerLink="/privacy-policy">Privacy Policy</a>
    <a routerLink="/legal-notice">Legal Notice</a>
  </footer>

  <div class="success-message" [class.show]="isSignedUp" [@fadeInOutInfo]>
    You're successfully registered
  </div>
</div>